<div id="comments-list">
    {{#commentDtos}} <!-- commentDtos가 여러 데이터라면 mustache 문법 안쪽에 있는 내용을 반복해라 -->
        <div class="card m-2" id="comments-{{id}}">
            <div class="card-header">
                {{nickname}}
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentDtos}}
</div>